div {
    margin-top: 20px;
}
#header {
    background-color: #292929;
    height: 29px;
    margin-top: 2px;
    margin-left: 8px;
    line-height: 29px;
    text-align: center;
    color: white;
}
#flex-container {
    display: flex;
    justify-content: space-between;
}
footer {
    margin-top: 50px;
}