div {
    width: 800px;
    margin-top: 20px;
    margin-top: 20px;
}
#header {
    margin-top: 2px;
    margin-left: 8px;
}
#flex-container {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
}