.flexContainer {
  background-color: rgb(211, 221, 248);
  position: relative;
  top: 20px;
  left: 27%;
  width: 46%;
  border: solid 3px rgb(11, 1, 37);
  display: flex;
  justify-content: space-around;
}
#slides {
  height: 360px;
  justify-content: center;
}
.slide {
  position: absolute;
  opacity: 0;
}
.showing {
  opacity: 1;
}
img {
  top: 90px;
  height: 180px;
}
#sizeRange {
  width: 30%;
}
button {
  font-size: 20px;
  margin-top: 10px;
  height: 30px;
  width: 30%;
}
