body {
    --myred: rgb(224, 0, 0);
    --mydark: rgb(41, 41, 41);
    --mygray: #BC92AC;
    background-color: var(--mydark);
  }

.title {
    width: 100%;
    height: 120px;
    background-image: url(инструменты.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: franklin gothic medium;
    text-align: center;
    padding-top: 5%;
    color: rgb(224, 0, 0);
}

.click {
    position: relative;
  display: inline-block;
}

div.leftMenu {
    display: none;
    position: absolute;
    box-shadow: none;
    z-index: 1;
}

div.leftMenu a {
    display: block;
    background: rgb(95, 95, 94);
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;   
    width: 350px;
    padding: 10px;
    margin: 10px; 
}

div.leftMenu a:hover {background-color: rgb(121, 121, 121);}
.click:hover .leftMenu {display: block;}

p.small{
    font-size: 25px;
}
p.large{
    font-size: 40px;
}

.container{
    max-width: 1653px;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu a, button{
    background: var(--myred);
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:white;
    width: 400px;
    padding: 10px;
    margin: 10px;
}
    
div.rightArea{
    width: 100%;
    border: 2 px solid black;
    display: flex;
    justify-content: space-around;
}

div.upper{
    position: relative;
    display: block;
    width: 47%;
    height: 800px;
    background-color: var(--mygray);
    border: 2px solid black;
}
div.bottom{
    position: relative;
    display: block;
    width: 47%;
    height: 800px;
    background-color: blanchedalmond;
    border: 2px solid black;
}
    